.calc-container {
  display: block;
  margin: auto auto;
  width: 300px;
}
.calc  {
  background: #f7f7f7;
  border: 3px solid #999;
}
.result {
  height: 50px;
  overflow: hidden;
  background: #bfbfbf;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  font-size: 23px;
  box-sizing: border-box;
  border-bottom: 3px solid #999;
}
.btns {
  display: flex;
}
.num, .sign {
  display: flex; 
  flex-wrap: wrap;
}
.num { 
  width: 80%; 
  flex: 1 0 20%;
}
.num .btn {
  flex: 1 0 30%;
  box-sizing: border-box;
  border: 1px solid #000;
}
.sign { 
  width: 20%;
  flex-direction: column;
}
.sign .btn { 
  box-sizing: border-box;
  border: 1px solid #000;

}

.num .btn, .sign .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  font-size: 20px;
  cursor: pointer;
}
.num .btn:hover, .sign .btn:hover {
  background: #dedede;
}

.btn.equal {
  background: #2CC400;
  color: #fff;
}
.btn.equal:hover {
  background: #25A400;
}
small {
  padding: 10px 0;
  margin: 0 auto;
  display: block;
  color: #444;
}
